html{
        font-family: monospace;
}
body{
    background-color: #c9c9c9;
    background-size: cover;
   background-image: url(img/background.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.head{
    background-color: #c9c9c9;
    width: 100vw;
    
}
.head h1{
    text-align: center;
    padding: 2%;
    font-size: 300%;
    color: #262626;
}
.enter{
    background: #ebebeb;
    width: 40%;
 display: flex;
  justify-content: space-around;
    width: 50vw;
    min-width: 720px
}
.enter button{
    height: 50px;
    width: 12%;
    margin: 2%;
}
#square{
    background-color: white;
    width: 50vw;
    height: 50vw;
    margin-top: 3%;
    min-width: 720px;
    min-height: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
#square:hover {
cursor: crosshair;
}

